<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a [routerLink]="['/']" class="navbar-brand" href="">
      <img src="./assets/logo/logo-2.png" alt="" class="d-inline-block align-text-top">
      <h2 class="d-none d-md-block">
        Movies
      </h2>
    </a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/" class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['movies']" routerLinkActive="active" class="nav-link">Movies</a>
        </li>
        <li class="nav-item ">
          <a [routerLink]="['serials']" routerLinkActive="active" class="nav-link">Series</a>
        </li>
      </ul>

    </div>

    <div class="search ">
      <input class="form-control " type="search" placeholder="Search" aria-label="Search" [formControl]="search">
    </div>

    <div *ngIf="isAuth; else login" class="dropstart  me-5">
      <a href="" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
         aria-expanded="false">
        <img src="./assets/logo/man.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item">Profile</a></li>
        <li><a class="dropdown-item">Settings</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="" (click)="logout($event)">Sign out</a></li>
      </ul>
    </div>
    <ng-template #login>
      <div class="dropstart  me-5">
        <a href="" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
           aria-expanded="false">
          <img src="./assets/logo/isAuth.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" [routerLink]="['admin']">Login</a></li>
        </ul>
      </div>
    </ng-template>


    <div *ngIf="false" class="user">
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>


  </div>
</nav>
