<nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mx-5">Admin</a>
    <div class="dropstart  me-5">
      <a href="" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="./assets/logo/man.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu dropdown-menu-dark" >
        <li><a class="dropdown-item" href="">Profile</a></li>
        <li><a class="dropdown-item" href="">Settings</a></li>
      </ul>
    </div>
  </div>
</nav>
