<div class="mainTv">
  <div class="container">
    <div class="film">
      <div *ngFor="let item of listTv">
        <div [appPoster]="item.poster_path " class="card" [routerLink]="['/film',item.id]" >
          <div class="poster">
            <h5 class="year badge rounded-pill text-bg-light">{{item.first_air_date|date:'y'}}</h5>
            <h2 class="title mb-3">{{item.name}}</h2>
            <div class="genres">
              <div class="genreItems">
              <span *ngFor="let g of item.genre_ids"
                    class="genre badge rounded-pill text-bg-danger">{{getGenres(g)}}</span>
              </div>
              <div class="imdb">
                <span class="badge rounded-pill text-bg-warning">{{item.vote_average}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button  type="button" class="btn btn-danger w-100 ">Load</button>
  </div>
</div>
