@use "../../../scss/mixin";

.banner {
  height: 60vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-background-general), 0.6);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #181818, rgba(black, 0));
  }
}

.movie-content {
  @include mixin.flex(flex-start, flex-start);
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  position: relative;
  padding: 0 2rem;


  @include mixin.mobile {
    @include mixin.flex(center, center);
  }

  .movie-content__poster {
    flex: 1;


    @include mixin.mobile {
      display: none;
    }

    .movie-content__poster__img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 30px;
      width: 400px;
      height: 600px;
      padding-top: 200px;

    }
  }

  .movie-content__info {
    width: 70%;
    padding-left: 2rem;
    position: relative;

    & > * {
      margin-bottom: 1.2rem;
    }

    .title {
      font-size: 2rem;
      font-weight: bolder;
      line-height: 1;
      @include mixin.mobile {
        font-size: 2.5rem;
      }
    }

    .genres {
      display: flex;

      & > * ~ * {
        margin-left: 0.5rem;
      }

      .genres__item {
        height: 100%;
        padding: 0.5rem 1.5rem;
        border: 2px solid white;
        border-radius: 30px;
        font-size: 0.8rem;
        font-weight: 600;
        background-color: var(--color-background-general);
      }
    }


    .star {
      .bi {
        margin-right: 0.2rem;
        font-size: 1.4rem;
      }
      .vote {
        margin-left: 0.5rem;
        font-size: 1.2rem;
        font-weight: bolder;
        color: #e8e7e7;
      }
    }
    .detail{

  }
  }
}


.casts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;

  .casts__item {
    .casts__item__img {
      padding-top: 125px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 0.5rem;
      cursor: pointer;
      transition: all 1s ease;
      border-radius: 5px;
      &:hover{
        transform: scale(1.1);
      }
    }

    .casts__item__name {
      font-size: 0.8rem;
    }
  }
}

.section {

  .video {
    margin-bottom: 3rem;

    .title {
      margin-bottom: 1.5rem;

    }

    iframe {
      height: 700px;
    }
  }
}


.similarSwiper {
  height: 250px;
  position: relative;

  .swiper-button-next:after, .swiper-button-prev:after {
    content: '';
  }

  &:hover {
    .swiper-button-next:after {
      content: 'next';
    }

    .swiper-button-prev:after {
      content: 'prev';
    }
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */

  display: flex;

  justify-content: center;
  align-items: center;
  transition: all 500ms ease;

  &:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }
  .p{
  position: absolute;
    bottom: 0;
    left: 5%;
    font-size: 0.8rem;
}

}

.swiper-slide img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}


