<div *ngIf="!!film" class="main">
  <div *ngIf="imgOriginal" class="banner"
       [style.backgroundImage]="'url('+ imgOriginal +')'"></div>

  <div class="mb-3 container movie-content">
    <div class="movie-content__poster">
      <div class="movie-content__poster__img" [style.backgroundImage]="'url('+ imgMini +')'"></div>
    </div>
    <div class="movie-content__info">
      <h1  class="title">
        {{film.original_title }}
      </h1>
      <div class="genres">
        <span class="genres__item" *ngFor="let item of film.genres ">{{item.name}}</span>
      </div>

      <p class="overview">{{film.overview}}</p>

      <div class="star">
        <i *ngFor="let item of vote" class="bi bi-star-fill text-danger "> </i>
        <i *ngIf="film.vote_average<=9" class="bi bi-star-half text-danger "> </i>
        <i *ngFor="let item of voteAll" class="bi bi-star text-danger"> </i>
        <span class="vote">{{film.vote_average | number :'1.0-2'}}</span>
        <span  class="vote">( {{film.vote_count}} )</span>
      </div>

      <div class="detail">
        <h5>Date: {{film.release_date |date:'y'}}</h5>
        <h5>Time: {{film.runtime}} min</h5>
        <h5 *ngIf="film.budget>0">Budget : {{film.budget | currency :'USD':'symbol':'3.0'}}</h5>
        <h5 *ngIf="film.revenue>0">WorldWide gross : {{film.revenue | currency:'USD':'symbol':'3.0'}}</h5>
        <h5 *ngIf="film.production_companies.length>0">Studies: {{film.production_companies[0].name}}</h5>
      </div>

      <div class="cast">
        <div class="section__header">
          <h2>Casts</h2>
        </div>
        <div class="casts">
          <div *ngFor="let item of casts " class="casts__item" >
            <div class="casts__item__img" [style.backgroundImage]="'url('+ imgW500(item.profile_path) +')'" [routerLink]="['/','actor',item.id]"></div>
            <p class="casts__item__name">{{item.name}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container  mb-5">
    <div class="section mb-3">
      <div class="video" *ngFor="let item of videos">
        <div class="video__title">
          <h2>{{item.name}}</h2>
        </div>

        <iframe
          *ngIf="!!item.key"
          [src]="item.key|safe"
          width="100%"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="section mb-3">
      <div class="section__header mb-2">
        <h2>Similar</h2>
      </div>
      <div class="movie-list">
        <swiper
          effect="cards"
          [slidesPerView]="7"
          [spaceBetween]="10"
          [navigation]="true"
          [pagination]="true"
          [mousewheel]="true"
          [keyboard]="true"
          [breakpoints]="{
                '340': {
                  slidesPerView: 3,
                  spaceBetween: 10
                },
                '640': {
                  slidesPerView: 4,
                  spaceBetween: 10
                },
                '768': {
                  slidesPerView: 5,
                  spaceBetween: 20
                },
                '1024': {
                  slidesPerView: 6,
                  spaceBetween: 20
                },
                '1400': {
                  slidesPerView: 7,
                  spaceBetween: 20
                }
                    }"
          class="similarSwiper"
        >
          <ng-template *ngFor="let item of similar" swiperSlide>
            <img [src]="item?.poster_path"  [routerLink]="['/','film',item.id]" alt="">
            <p class="p">{{item.title}}</p>
          </ng-template>
        </swiper>

      </div>
    </div>
  </div>
</div>


