<div *ngIf="!!tv" class="main">
  <div  class="banner" [appPoster]="tv.backdrop_path"></div>

  <div class="mb-3 container movie-content">
    <div class="movie-content__poster">
      <div class="movie-content__poster__img" [appPoster]="tv.poster_path"></div>
    </div>
    <div class="movie-content__info">
      <h1  class="title">
        {{tv.original_name }}
      </h1>
      <div class="genres">
        <span class="genres__item" *ngFor="let item of tv.genres ">{{item.name}}</span>
      </div>

      <p class="overview">{{tv.overview}}</p>

      <div class="star">
        <span [appVote]="tv.vote_average"></span>
        <span class="vote">{{tv.vote_average | number :'1.0-2'}}</span>
        <span  class="vote">( {{tv.vote_count}} )</span>
      </div>

      <div class="detail">
        <h5>Date:
          <span>
             {{tv.first_air_date |date:'y'}}
          </span>
          <span *ngIf="tv.last_air_date"> - {{tv.first_air_date |date:'y'}} </span>
          <span class="text-secondary" *ngIf="tv.in_production"> ...to be continue</span>
         </h5>
        <h5>Country: {{tv.origin_country}}</h5>
        <h5>Seasons: {{tv.number_of_seasons}} </h5>
        <h5>Episode: {{tv.number_of_episodes}} </h5>
        <h5>Homepage :
          <a class="text-secondary"  [href]="tv.homepage">{{tv.homepage}}</a></h5>
        <h5 *ngIf="tv.networks.length>0">Studies: {{tv.networks[0].name}}</h5>
      </div>

      <div class="cast">
        <div class="section__header">
          <h2>Casts</h2>
        </div>
        <div class="casts">
          <div *ngFor="let item of casts " class="casts__item" >
            <div class="casts__item__img" [appPoster]="item.profile_path"  [routerLink]="['/','actor',item.id]"></div>
            <p class="casts__item__name">{{item.name}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container  mb-5">
    <div class="section mb-3">
      <div class="video" *ngFor="let item of videos">
        <div class="video__title">
          <h2>{{item.name}}</h2>
        </div>

        <iframe
          *ngIf="!!item.key"
          [src]="item.key|safe"
          width="100%"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="section mb-3">
      <div class="section__header mb-2">
        <h2>Similar</h2>
      </div>
      <div class="movie-list">
        <swiper
          effect="cards"
          [slidesPerView]="7"
          [spaceBetween]="10"
          [navigation]="true"
          [pagination]="true"
          [mousewheel]="true"
          [keyboard]="true"
          [breakpoints]="{
                '340': {
                  slidesPerView: 3,
                  spaceBetween: 10
                },
                '640': {
                  slidesPerView: 4,
                  spaceBetween: 10
                },
                '768': {
                  slidesPerView: 5,
                  spaceBetween: 20
                },
                '1024': {
                  slidesPerView: 6,
                  spaceBetween: 20
                },
                '1400': {
                  slidesPerView: 7,
                  spaceBetween: 20
                }
                    }"
          class="similarSwiper"
        >
          <ng-template *ngFor="let item of similar" swiperSlide>
            <img [src]="item?.poster_path"  [routerLink]="['/','film',item.id]" alt="">
            <p class="p">{{item.original_name}}</p>
          </ng-template>
        </swiper>

      </div>
    </div>

    <div *ngIf="!!reviews.length" class="section my-4">
      <h2>Reviews</h2>
      <div *ngFor="let item of reviews" class="review">
        <div class="image">
          <img class="rounded-circle" [appImgReview]="item.author_details.avatar_path" alt="">

        </div>
        <div class="content">
          <div class="detail">
            <span>{{item.author}}</span>
            <span>{{item.created_at | date:'medium'}}</span>
          </div>
          <div class="det">
            {{item.content}}
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

